h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
}

.larger {
  font-size: 18px;
}

.center {
  text-align: center;
}

body {
  background: #172B61;
  color: #FFE9B8;
}

.btn {
  background: #D074A3;
}

.btn:hover {
  background:#B0487D;
}
